body{
    margin: 0%;
    font-family: system-ui;
    overflow:inherit;
    color: #171a28;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
}

nav{
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    height: 12px;
    width: 100px;
    color: inherit;
}

nav ul{
    flex: 1;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav .btn{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
}
section{
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
section .content{
 width: 100%;
 height: 60vh;
 padding-top: auto;
 padding-bottom: auto;
 text-align: center;   
 display: grid;
 grid-template-rows: min-content auto min-content;
}
section h1{
font-size: 3rem;
}
.links{
    margin-top: 10%;
    text-align: center;
}
.links .Custom{ 
    padding: 10px 100px;
    text-decoration:none;
    color: #fff;
    background-color: rgb(37, 37, 37);
    border-radius: 30px;
}

.links .existing{
    padding: 10px 100px;
    text-decoration: none;
    color: black;
     background-color: antiquewhite;
    border-radius: 30px;
    }

aside{
    position: fixed;
    right: -400px;
    width: 320px;
    background-color: #fff;
    padding: 80px 40px;
    z-index: 4;
    height: 100vh;
    font-weight: 500;
}
aside.active{
    right: 0;
}
aside a{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;
    font-size: 14px;
}
aside button.close{
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 100;
}
  footer {
    position: static;
    text-align: center;
    color: white;
  }
  footer ul{
    flex: 1;
    text-align: center;
}

 footer ul li{
    display: inline-block;
    margin: 0px 20px;
}

 footer ul li a{
    text-decoration: none;
    color: black;
}
 